.days{
  
    height: auto;
    margin-top: 30px;
    margin-left: 23px;
    display: flex;
    justify-content: center;
}

.daysChart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.days a {
    text-decoration: none;
    list-style: none;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: #FFFFFF;
    font-size: 20px;
    margin-right: 30px;
  
}

.doughnut{
    width: 500px;
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-left: 300px;
   
}

.todayList{
    width: 727px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 0 auto;
     
}

.timeList{
    display: flex;
    justify-content: center;
    height: auto;
    margin-top: 10px;
    margin: 0  auto;
    margin-top: 15px;

}

.timeList h2{
    color: #FFFFFF;
}

.webTime{
    display: flex;
    font-size: 25px;
    border-bottom: #FFFFFF 1px solid;
    margin-bottom: 10px;
 
}

.dataName{
  font-size: 25px;
  border-bottom: #FFFFFF 1px solid;
  margin-bottom: 10px;
 
}

